@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html, body{
  font-family: 'Epilogue', sans-serif;
  scroll-behavior: smooth;
}

body[data-theme="light"] {
  /* Styles for the light theme */
  background-color: #f5f5f5;
  color: #333;
}

body[data-theme="dark"] {
  /* Styles for the dark theme */
  background-color: #000000;
  color: #f5f5f5;
}
.toggle-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

@layer base {

    .h1 {
      @apply text-6xl xl:text-[72px] xl:leading-[80px] tracking-[-2px] font-bold;
    }
    .h2 {
      @apply text-5xl xl:text-[56px] xl:leading-[60px] tracking-[-2px] font-bold;
    }
    .h4 {
      @apply text-lg xl:text-[24px] xl:leading-[32px] tracking-[-2px] font-bold;
    }
    .p {
      @apply text-xl xl:text-[17px] xl:leading-[32px] tracking-normal font-medium;
    }
      .primary-text {
      @apply text-[#0E2A46];
    }
  
}
@layer utilities {
  .navmenu {
    @apply relative  tracking-[1px]
    hover:text-[#2356F6]
  }
  .navmenu::after{
    @apply content-[''] bg-[#2356F6] h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300
  }
  .navmenu:hover::after{
    @apply w-[100%]
  }

}

